* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background: #f5f5f2;
}
.fpassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 700px;
}
.form-wrapper{
  background: #ffffff;
  box-shadow: 3px -5px 40px rgba(205, 205, 212, 0.1);
  border-radius: 20px;
  padding: 45px;
}
.fpass-desc h2{
  margin-bottom: .7rem;
  text-align: center;
  /* font-size: 2rem; */
}
.fpass-desc p{
  margin-bottom: .7rem;
  font-size: 1rem;
  text-align: center;
}
.email-input{
  width: 100%;
  padding: .4rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
}


.btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.send{
  padding: 13px 23px;
  background: #053582;
  border-radius: 10px;
  color: #fff;
  border: none;
}

@media (max-width: 400px) {
  .fpassword-container{
    margin: 1rem;
  }
  .fpass-desc h2{
    font-size: 1rem;
  }
  .fpass-desc p{
    font-size: 1rem;
  }
  .btn-wrapper p{
    font-size: 1rem;
    text-align: center;
  }
  .btn-wrapper{
    flex-direction: column
  }
}